body {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.container {
    margin-top: 10%;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h1 {
    margin-bottom: 30px;
    color: #343a40;
}
.btn-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn-primary {
    font-size: 1.2rem;
    padding: 15px 30px;
    margin: 5px 0;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.btn-warning {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
    width: 100%;
}
.btn-danger {
    width: 100%;
}
.post-link {
    color: #007bff;
    text-decoration: none;
}
.post-link:hover {
    text-decoration: underline;
}
.event-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.severity-low {
    background-color: #e0f2f1;
}
.severity-moderate {
    background-color: #d3a27c;
}
.severity-high {
    background-color: #a64619;
}
.severity-very-high {
    background-color: #e74646;
}
.navbar {
    width: 100%;
    background-color: #343a40;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.navbar a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2rem;
}
.navbar a:hover {
    text-decoration: underline;
}