<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>나만의 캘린더 홈</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>
<nav class="navbar">
    <a th:href="@{/user/info}">마이페이지</a>
    <a th:href="@{/pain/board(username=${session.username})}">나의 통증 일기 등록</a>
    <a th:href="@{/my/(username=${session.username})}">통증일기 모아보기</a>
    <a th:href="@{/board}">게시판 바로가기</a>
</nav>

<div class="container">
    <div class="btn-group">
        <a th:href="@{/user/signup}" class="btn-gradient purple large">회원가입하기</a>
        <a th:href="@{/user/login}" class="btn-gradient purple large">로그인하기</a>
        <a th:href="@{/oauth2/authorization/naver}" class="btn-gradient cyan large">네이버 로그인</a>
        <a th:href="@{/login/logout}"class="btn-gradient cyan large">네이버 로그아웃</a> <!-- 로그아웃 링크 -->
        <a th:href="@{/user/mypage}" class="btn-gradient purple large" title="로그인 이후 이용 가능합니다.">내 정보 수정하기</a>
        <a th:href="@{/user/logout}" class="btn-gradient purple large">로그아웃하기</a>
    </div>
</div>

<script th:src="@{/bootstrap.min.js}"></script>
</body>
</html>