<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="container">
    <div th:if="${#lists.isEmpty(posts)}">
        <p>게시물이 없습니다.</p>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>날짜</th>
            <th>시작 시간</th>
            <th>종료 시간</th>
            <th>약 복용 여부</th>
            <th>예방약 복용 여부</th>
            <th>복용 약 이름</th>
            <th>통증 정도</th>
        </tr>
        </thead>
        <tbody id="post-tbody">
        <tr th:each="post : ${posts}" th:data-severity="${post.severity}" th:attr="data-post-id=${post.id}">
            <td th:text="${post.date}" th:data-date="${post.date}"></td>
            <td th:text="${post.start}" th:data-start="${post.start}"></td>
            <td th:text="${post.end}"></td>
            <td th:text="${post.pill ? '복용' : '미복용'}"></td>
            <td th:text="${post.pre_pill ? '예방약 복용' : '예방약 미복용'}"></td>
            <td th:text="${post.pill_name}"></td>
            <td th:text="${post.severity}"></td>
        </tr>
        </tbody>
    </table>
    <div id="userInfo" th:data-userId="${userId}" hidden></div>

</div>
<script th:src="@{/bootstrap.min.js}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var tbody = document.getElementById('post-tbody');
        var rows = tbody.getElementsByTagName('tr');

        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            var severity = row.getAttribute('data-severity');

            // 통증 정도에 따라 스타일 클래스 추가
            if (severity >= 0 && severity <= 3) {
                row.classList.add('severity-low');
            } else if (severity >= 4 && severity <= 6) {
                row.classList.add('severity-moderate');
            } else if (severity >= 7 && severity <= 9) {
                row.classList.add('severity-high');
            } else if (severity == 10) {
                row.classList.add('severity-very-high');
            }
        }
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var tbody = document.getElementById('post-tbody');
        var rows = tbody.getElementsByTagName('tr');

        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];

            // 클릭 이벤트 리스너 추가
            row.addEventListener('click', function() {
                // 데이터 가져오기
                var postId = this.getAttribute('data-post-id'); // 포스트 ID 가져오기

                var userId = document.getElementById('userInfo').getAttribute('data-userId'); // 사용자 ID 가져오기

                // URL 생성 및 이동
                var url = '/my/post/details?id=' + postId + '&userId=' + userId;
                window.location.href = url;
            });
        }
    });
</script>
</body>
</html>

